<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <title>{% block title %}My Site{% endblock %}</title>
        <link
            rel="stylesheet"
            href="{{ url_for('static', filename='style.css') }}"
        />
    </head>
    <body>
        <header>
            <h1>My Website Header</h1>
            <nav>
                <a href="{{ url_for('index') }}">Home</a>
                {% if current_user.is_authenticated %}
                <a href="{{ url_for('userList') }}">Users</a>
                <a href="{{ url_for('profile') }}">Profile</a>
                <a href="{{ url_for('logout') }}"
                    >Logout ({{ current_user.name }})</a
                >
                {% else %}
                <a href="{{ url_for('handleGet') }}">Sign Up</a>
                <a href="{{ url_for('login') }}">Login</a>
                {% endif %}
            </nav>
        </header>

        <main class="container">{% block content %}{% endblock %}</main>
    </body>
</html>
